<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamtemplate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".NewFriendActivity"></activity>
        <activity android:name=".FriendListActivity"></activity>
        <activity android:name="com.example.teamtemplate.membership.MembershipActivity" android:label="회원그룹방 거래내역">
        </activity>
        <activity android:name="com.example.teamtemplate.transaction.TransactionActivity" android:label="거래">
        </activity>
        <activity android:name="com.example.teamtemplate.daily.DailyActivity" android:label="일반그룹방 거래내역">
        </activity>

        <activity
            android:name=".NewDailyActivity"
            android:label="@string/app_new_daily" />
        <activity
            android:name=".NewMembershipActivity"
            android:label="@string/app_new_membership" />
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_mainmenu" />
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_signin" />
        <activity android:name=".MainActivity"
            android:label="@string/app_login"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>