<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hongik.mnms">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MNMs"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".daily.ui.home.DailyQRActivity"></activity>
        <activity android:name=".membership.ui.manage.ManageMembershipActivity" />
        <activity android:name=".daily.ui.home.NewDailyMemActivity" />
        <activity android:name=".newprocesses.NewTransactionActivity" />
        <activity android:name=".membership.ui.home.NewMembershipMemActivity" />
        <activity android:name=".mainscreen.ui.settings.SettingsActivity" />
        <activity android:name=".newprocesses.NewFriendActivity" />
        <activity
            android:name=".membership.MembershipActivity"
            android:label="회원그룹방 거래내역" />
        <activity
            android:name=".daily.DailyActivity"
            android:label="일반그룹방 거래내역" />
        <activity
            android:name=".newprocesses.NewDailyActivity"
            android:label="@string/app_new_daily" />
        <activity
            android:name=".newprocesses.NewMembershipActivity"
            android:label="@string/app_new_membership" />
        <activity
            android:name=".mainscreen.MainMenuActivity"
            android:label="@string/app_mainmenu" />
        <activity
            android:name=".firstscreen.SignInActivity"
            android:label="@string/app_signin" />
        <activity
            android:name=".firstscreen.MainActivity"
            android:label="MNMs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>